* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #161616;
    color: white;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    border: 1px solid white;
}

.wrapper {
    margin: 10px;
    border: 1px solid white;
    background-color: #161616;
}

table {
    border: 1px solid #643DB5;
    margin: 20px;
}

td {
    padding: 10px;
}

tr {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 50px;
    border-bottom: 1px solid #643DB5;
}

tr:nth-child(odd) {
    background-color: #494949;
}

tr:nth-child(even) {}

tr a {
    color: #ff8cff;
    font-weight: bold;
}

th {
    cursor: pointer;
    background-color: #56289B;
}

.title {
    font-weight: bold;
}

#surf {
    font-weight: bold;
    font-size: 40px;
    color: #6D9DD5;
    text-decoration: none;
}

.surf {
    text-align: center;
    border: 1px solid white;
    margin: 20px;
    width: 50%;
}

h1 {
    font-size: 50px;
    text-align: center;
}

tr {
    text-align: left;
}

.url {
    min-width: 150px;
}

.descr {
    width: 90%;
}

.cat {
    min-width: 100px;
}

label:not('.filter') {
    display: block;
    font-weight: bold;
}

.filters label {
    font-weight: bold !important;
}

#honeypot {
    display: none;
}

#filters {
    border: 1px solid white;
    margin: 20px;
    padding: 20px;
    width: 50%;
}

.flex {
    display: flex;
}